[alias]
    co = checkout
    st = status
    hist = log --decorate --graph --oneline --date-order
    summary = log --abbrev-commit --pretty=oneline --author="matthewkturner" --since=last.mon --reverse
[branch]
    autosetupmerge = always
[core]
    excludesfile = ~/.gitignore_global
[color]
    ui = true
    diff = true
    status = true
    interactive = true
    grep = true
[github]
    user = matthewkturner
[pull]
    rebase = true
[push]
    default = current
[rebase]
    autosquash = true
[user]
    email = matthew.keith.turner@gmail.com
    name = Matthew K. Turner
